<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ILogin" />
                <binding name="BasicHttpBinding_IEncryptDecrypt" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:63666/SystemServices.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILogin"
                contract="ServiceReference.ILogin" name="BasicHttpBinding_ILogin" />
            <endpoint address="http://localhost:63666/SystemServices.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEncryptDecrypt"
                contract="ServiceReference.IEncryptDecrypt" name="BasicHttpBinding_IEncryptDecrypt" />
        </client>
    </system.serviceModel>
</configuration>